/* Basic editor styles */
.tiptap {
    overflow: hidden;
    :first-child {
        margin-top: 0;
    }

    .tableWrapper {
        max-height: 400px;
        overflow: auto;
    }
    .tableWrapper::-webkit-scrollbar {
        background: #b9b9b9;
        width: 8px;
        height: 8px;
    }
    .tableWrapper::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #474747;
        border-radius: 10px;
        cursor: pointer;
    }
}

.column-resize-handle {
    border: 2px solid rgb(22, 196, 219);
    position: absolute;
    right: -2px;
    top: 0;

    height: 100%;
}

.resize-cursor {
    cursor: e-resize;
    cursor: ew-resize;
}

.selectedCell {
    position: relative;
}

.selectedCell::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background: rgba(37, 37, 37, 0.418) !important;
}
